# Data Quality Testing - Workshop SDS25

## Goal
The Goal of this Workshop is gaining hands-on experience in Data Quality assessment, using the Great Expectations Framework. However, the knowledge gained in this Workshop is transferrable to other Testing Frameworks as well. The Data Quality Assessment gives you confidence in the data foundation used in AI.

## DataSet
The DataSet we will be using during this Workshop is the "Bike Sharing" Dataset (https://archive.ics.uci.edu/dataset/275/bike+sharing+dataset). It contains aggregated information about bike rental, either per hour or per day, over two years, in Washington D.C.

The DataSet was already loaded into the database in this container (database.db). For each set of the exercise, the required data is loaded with a corresponding code cell, so you don't have to worry about it.

The Notebook will lead you through the following scenarios:  
- Making basic expectations based on Spring Data of the first year
- Checking and refining expectations based on added Summar Data of the first year
- Same for Autumn, using increasingly complex Expectations
- Same for Winter
- Finally using the data from year 2 to verify the expectations, identify datashifts etc.

In the end, the goal is to have a solid data foundation to implement a flexible pricing system.

# Task 1: Inspect the DataSet
Familiarize yourself with the "Bike Sharing" Dataset (https://archive.ics.uci.edu/dataset/275/bike+sharing+dataset). Explore the dataset using the cells below.

In [15]:
import database
import great_expectations as gx
import sqlite3
import pandas as pd

In [17]:
# Initialise the dataset
database.init()

conn = sqlite3.connect('database.db')


pd.read_sql_query("SELECT * FROM bike_rental;", conn)

Database reset completed
Initializing database to step 0: 0_spring_2011
Migration 0_create_table.sql from 0_spring_2011 - Successfully applied
Migration 1_bike_rental_2011_spring.sql from 0_spring_2011 - Successfully applied

,id,dteday,season,yr,mnth,hour,holiday,weekday,workingday,weathersit,...,atemp,hum,windspeed,casual,registered,total,felt_temp,humidity,year,weather
0,1808,2011-03-21,Spring,None,3,0,0,Monday,1,None,...,None,None,26.0027,2,11,13,3.9980,66.0,2011,Bad
1,1809,2011-03-21,Spring,None,3,1,0,Monday,1,None,...,None,None,26.0027,1,6,7,3.9980,71.0,2011,Okay
2,1810,2011-03-21,Spring,None,3,2,0,Monday,1,None,...,None,None,22.0028,1,5,6,3.9980,71.0,2011,Okay
3,1811,2011-03-21,Spring,None,3,3,0,Monday,1,None,...,None,None,22.0028,0,1,1,3.9980,71.0,2011,Okay
4,1812,2011-03-21,Spring,None,3,5,0,Monday,1,None,...,None,None,19.9995,1,1,2,3.9980,81.0,2011,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2198,4006,2011-06-20,Spring,None,6,19,0,Monday,1,None,...,None,None,15.0013,62,369,431,24.9992,65.0,2011,Good
2199,4007,2011-06-20,Spring,None,6,20,0,Monday,1,None,...,None,None,15.0013,52,264,316,24.9992,69.0,2011,Good
2200,4008,2011-06-20,Spring,None,6,21,0,Monday,1,None,...,None,None,11.0014,39,167,206,24.0026,73.0,2011,Good
2201,4009,2011-06-20,Spring,None,6,22,0,Monday,1,None,...,None,None,15.0013,24,106,130,24.0026,73.0,2011,Okay
2202,4010,2011-06-20,Spring,None,6,23,0,Monday,1,None,...,None,None,16.9979,10,50,60,22.9994,78.0,2011,Good

In [3]:
# Set the context for great expectations (the data set)
context = gx.get_context()

data_source = context.data_sources.add_sqlite("sample", connection_string="sqlite:///database.db")

In [4]:
# Get the batch
asset_name = "bike_rental"
database_table_name = "bike_rental"
table_data_asset = data_source.add_table_asset(
    table_name=database_table_name, name=asset_name
)

full_table_batch_definition = table_data_asset.add_batch_definition_whole_table(
    name="0_spring_2011",
)

In [5]:
# TODO: fix something in database, atemp, humidity and weathersit are None, also the year is None => probably integer and double values were not transported correctly?

In [6]:
full_table_batch = full_table_batch_definition.get_batch()
full_table_batch.head()

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

     id      dteday  season    yr  mnth  hour  holiday weekday  workingday  \
0  1808  2011-03-21  Spring  None     3     0        0  Monday           1
1  1809  2011-03-21  Spring  None     3     1        0  Monday           1
2  1810  2011-03-21  Spring  None     3     2        0  Monday           1
3  1811  2011-03-21  Spring  None     3     3        0  Monday           1
4  1812  2011-03-21  Spring  None     3     5        0  Monday           1

  weathersit  ...  atemp   hum windspeed  casual  registered  total  \
0       None  ...   None  None   26.0027       2          11     13
1       None  ...   None  None   26.0027       1           6      7
2       None  ...   None  None   22.0028       1           5      6
3       None  ...   None  None   22.0028       0           1      1
4       None  ...   None  None   19.9995       1           1      2

   felt_temp  humidity  year weather
0      3.998      66.0  2011     Bad
1      3.998      71.0  2011    Okay
2      3.998      71.0  2011    Okay
3      3.998      71.0  2011    Okay
4      3.998      81.0  2011    Good

[5 rows x 21 columns]

In [ ]:
# TODO: add some sql queries to show the user how to interact with the data

# Task 2: Set Expectations for the Spring Data
Now that you explored the dataset, it is time to set up your first expectations (exciting!)

In [ ]:
# TODO: add some basics expectations as a markdown for example

In [ ]:
# TODO: give one example of how to set expectations for a datatype

In [ ]:
# TODO: make them set one expectation for another datatype themselves

In [ ]:
# TODO: add expectations of maximum bike rentals according to the max today + 50 or so

In [ ]:
# TODO: set expectation for correlation of rising temperatures to rising bike rentals

In [ ]:
# TODO: check the expectations

But, you didn't come to this Workshop just to see a fancy way of doing exactly the same as your basic unit test is doing, so let's get into more complex stuff

# Task 3: Adjust and Set New Expectations for the Summer Data

In [ ]:
# TODO: load the summer dataset

In [ ]:
# TODO: run the expectations for that new dataset and look at the output

## Excursion: Data Docs

In [ ]:
# TODO: explain data docs and how it works

In [ ]:
# TODO: generate the data docs

In [ ]:
# TODO: look at the data docs

## Back To Business

In [6]:
# TODO: refine the expectations

In [7]:
# TODO: add more complex expectations (give them a list of suggestions again)

In [ ]:
# TODO: add a fun expectation, that expects bike rentals to rise, because they have risen before

In [8]:
# TODO: check the expectations

# Task 4: Adjust for Autumn

In [ ]:
# TODO: load new dataset

In [ ]:
# TODO: check the expectations

In [ ]:
# TODO: fix what needs fixing

In [ ]:
# TODO: Maybe add something even more complex?

In [ ]:
# TODO: Recheck the Expectations

# Task 5: Check with Winter and set final expectations
You can check out all kinds of expectations here: https://greatexpectations.io/expectations/

In [ ]:
# TODO: load new dataset

In [ ]:
# TODO: check the expectations

In [ ]:
# TODO: fix what needs fixing

In [ ]:
# TODO: Maybe add something even more complex?

In [ ]:
# TODO: Recheck the Expectations

# Task 6: Verify your data and see if something shifts the next year

In [ ]:
# TODO: load new dataset

In [ ]:
# TODO: check the expectations

Discuss these expectations => did you do a good job? What changed? Do you now have confidence in your data foundation for your AI model? Discuss pros and cons of using a Testing Framework!

# Task 7: Think about AI Implementation

Could you now implement AI to design a flexible pricing model? How would you do it? What is the advantage over doing this by hand?

In [9]:
# TODO: Make this last part better and more to the point ^^